@use '../abstracts/variables' as *;

:root {
  --text-lg: 60px;
  --text-sm: 18px;
  --clr-main: #fda93b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: url("../images/background-mobile.jpg");
  font-family: Arial, Helvetica, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  padding: 3rem;
  text-align: center;
  background-color: $main-bg;

  h1 {
    font-size: var(--text-lg);
    background: linear-gradient(to right, red, yellow);
    color: transparent;
    background-clip: text;
  }
}
